<div class="form-item">
    <div class="form-item-label">
        <div class="pointer"></div>
        <div><strong>Estimated Net Worth</strong></div>
        <div class="form-item-label-sub">(Excluding primary residence)</div>
    </div>
    <div class="form-item-content">
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>Under $50,000</label>
        </div>
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>$50,000 - $100,000</label>
        </div>
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>$100,001 - $500,000</label>
        </div>
        <div class="form-item-input">
            <label>Over $500,000 specify:</label>
            <div class="form-item-input-money-wrap">
                <input type="text" class="form-item-input-money" />
            </div>
        </div>
    </div>
</div>

