<div class="form-item">
    <div class="form-item-label">
        <div class="pointer"></div>
        <div><strong>Marital Status</strong></div>
    </div>
    <div class="form-item-content">
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>Widowed</label>
        </div>
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>Divorced</label>
        </div>
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>Single</label>
        </div>
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>Married/Legal Domestic Partnership</label>
        </div>
    </div>
</div>
