<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page 3</title>
    <link rel='stylesheet' id='typekit-css' href='//use.typekit.net/vad1ces.css?ver=5.9.2' media='all' />

    <style>
        body {
            zoom: 70%;
            font-kerning: normal;
            text-rendering: optimizeLegibility;
        }

        * {
            letter-spacing: 0.6mm !important;
        }

        body {
            font-family: neue-haas-grotesk-display, sans-serif;
            font-size: 18px;
            -webkit-print-color-adjust: exact !important;
            print-color-adjust: exact !important;
        }

        .box {
            border: 1px solid black;
        }

        .row {
            display: table;
            width: 100%;
            column-gap: 50px;
        }

            .row > div {
                display: table-cell;
                width: 50%;
            }

        .row-content {
            display: table;
        }

            .row-content > div {
                padding: 10px;
                display: table-cell;
            }

        h1 {
            margin: 0;
            margin-bottom: 10px;
        }

        h2 {
            margin: 0;
            padding: 10px;
            border-bottom: 3px solid black;
        }

        h3 {
            margin: 0;
            padding: 10px;
            border-bottom: 3px solid black;
        }

        .box {
            padding: 0;
            border-top: 3px solid black;
        }

        ul {
        }

        .signature h1 {
            margin: 0;
            padding-bottom: 10px;
            border-bottom: 3px solid black;
        }

        .sign {
            display: flex;
            border: 1px solid black;
        }

        .sign-sig {
            width: 100%;
            border-right: 1px solid black;
            position: relative;
        }

        .sign-date {
            width: 200px;
        }

        .sign label {
            background-color: #eee;
            display: block;
            padding: 10px;
            margin-bottom: 45px;
        }

        .sign-sign {
            background: black;
            color: white;
            text-transform: uppercase;
            transform: rotate(-90deg);
            position: absolute;
            bottom: 13px;
            left: -13px;
            font-size: 16px;
            width: 45px;
            text-align: center;
        }

        .pointer:before {
            content: "";
            position: absolute;
            left: 25px;
            bottom: 5px;
            width: 0;
            height: 0;
            border-left: 18px solid black;
            border-top: 18px solid transparent;
            border-bottom: 18px solid transparent;
        }

        footer {
            text-align: center;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <section>
        <h1>Definitions</h1>
        <div class="box">
            <div class="row">
                <div><h2>Investment Objectives</h2></div>
                <div></div>
            </div>
            <div class="row row-content">
                <div>
                    <p>Your investment goal(s) based on your risk tolerance and time horizon.</p>
                    <ul>
                        <li>Protection of Principal: Relatively lower risk investments with the goal of preserving the money invested</li>
                        <li>Income: Investments with regular payments of interests, dividends or other income</li>
                        <li>Growth: Investments with a history of future potential for capital gains, but with a higher risk of loss</li>
                        <li>Speculation: Investments with the possibility of large profits, but also pose a higher than average possibility of loss</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Moderate: generally investing for the long term, with a mix of asset classes; willing to accept some risk for long term good return with investments that may go up less than the markets as a whole, but should also go down less when markets decline</li>
                        <li>Moderately Aggressive: willing to take on more downside risk than the markets in order to achieve long term performance better than the markets. More emphasis on making money than on preventing loss</li>
                        <li>Aggressive: looking to substantially outperform the market and willing to accept significant risk (losses of 40% or more in a quarter) to do so. No emphasis on preventing loss</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div><h3>Risk Tolerance:</h3></div>
                <div><h3>Investment Time Horizon</h3></div>
            </div>
            <div class="row  row-content">
                <div>
                    <p>The degree of uncertainty that you can handle in regard to a negative change in the value of your portfolio.</p>
                    <ul>
                        <li>Conservative: willing to forego upside potential to avoid downside fluctuations</li>
                        <li>Moderately Conservative: adverse to large short-term downside fluctuations, seek more return with a little less income</li>
                    </ul>
                </div>
                <div>
                    <p>The total length of time that you expect to hold a security or portfolio.</p>
                    <ul>
                        <li>Near term: immediate liquidity</li>
                        <li>Very short: six months</li>
                        <li>Intermediate: three to ten years</li>
                        <li>Long: greater than ten years</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <br><br>

    <!--<section class="signature">
      <h1>Suitability Agreement</h1>
      <p>I certify that the suitability selections above are true to the best of my knowledge and may be used to by Muriel Siebert & Co., Inc. to determine my income needs and desired risk exposure, which is used to aid in security selection. I understand that I must update my suitability information with Muriel Siebert & Co., Inc. if any changes occur.</p>
      <div class="sign">
        <div class="sign-sig">
          <label>Signature</label>
          <div class="sign-sign">sign</div>
          <div class="pointer"></div>
        </div>
        <div class="sign-date">
          <label>Date</label>

        </div>
      </div>
    </section>-->


    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


    <footer>
        <p>1-800-872-0444 WWW.SIEBERT.COM</p>

    </footer>
</body>
</html>
