<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Page 1</title>
    <link rel="stylesheet" href="style.css">

    <style>
      body {{
        font-size: 18px;
      }}
      strong {{
        font-size: 22px;
      }}
      .center {{
        text-align: center;
      }}
      .right {{
        text-align: right;
      }}
    </style>
  </head>
  <body>
      <div>
          <div>{0}</div>
          <div>{1}</div>
          <div>{2}</div>
          <div>{3}</div>
          <div>{4}</div>
          <div>{5}</div>
      </div>

    <div class="right">
      {6}
    </div>

    <div>
      <p>Dear Account Owner(s),</p>

      <p><strong>Why Are You Receiving This Letter?</strong></p>

      <p>You are receiving this letter because we are required per FINRA Rule 2111 to update your Suitability Information on file for account {7}, to ensure that recommended transactions and investment strategies are in your best interest, as required by SEC Rule 15I-1.</p>

      <p>For your convenience we have enclosed a form with the Suitability information we have on file and fields with missing information for you to complete, also find enclosed a pre-paid return envelope to send your form back to us.</p>

      <p><strong>What Should You Do?</strong></p>

      <p>Please take a few minutes to review the Suitability form carefully, complete all missing fields and physically sign the form.</p>

      <p>If you have any questions regarding the information included with this letter, please contact a Siebert representative at 800.872.0444.</p>

      <br>

      <p>Thank you for being a valued customer.</p>

      <p><strong><i>Muriel Siebert & Co., Inc.</i></strong></p>

      <br><br><br><br><br><br>


      <p class="center">Account(s) carried with Muriel Siebert & Co., Member FINRA, NYSE, SIPC.</p>

      <p class="right">06/23/22 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ADP</p>

    </div>
  </body>
</html>

<div style="page-break-after:always"></div>
<div style="page-break-after:always"></div>