<div class="form-item">
    <div class="form-item-label">
        <div class="pointer"></div>
        <div><strong>General Investment Knowledge</strong></div>
    </div>
    <div class="form-item-content">
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>Limited</label>
        </div>
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>Good</label>
        </div>
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>Extensive</label>
        </div>
    </div>
</div>
