<div class="form-item">
    <div class="form-item-label">
        <div class="pointer"></div>
        <div><strong>Dependents</strong></div>
    </div>
    <div class="form-item-content">
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>0</label>
        </div>
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>1</label>
        </div>
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>2</label>
        </div>
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>3+</label>
        </div>
    </div>
</div>
