<div class="form-footer">
    Suitability Agreement
</div>

<p>I certify that the suitability selections above are true to the best of my knowledge and may be used to by Muriel Siebert & Co., Inc. to determine my income needs and desired risk exposure, which is used to aid in security selection. I understand that I must update my suitability information with Muriel Siebert & Co., Inc. if any changes occur.</p>

<div class="sign">
    <div class="sign-sig">
        <label>Signature</label>
        <div class="sign-sign">sign</div>
        <div class="sign-pointer"></div>
    </div>
    <div class="sign-date">
        <label>Date</label>

    </div>
</div>
<br>

<footer>
    <p>*See definitions on next page</p>
    <div>MEMBER NYSE    |    FINRA    |    SIPC    |    EST. 1967</div>
</footer>


    </section>
  </body>
</html>