
<div class="form-item">
    <div class="form-item-label">
        <div class="pointer"></div>
        <div><strong>Annual Income</strong></div>
        <div class="form-item-label-sub">(from all sources)</div>
    </div>
    <div class="form-item-content">
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>Under $25,000</label>
        </div>
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>$25,000 - $50,000</label>
        </div>
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>$50,001 - $100,000</label>
        </div>
        <div class="form-item-input">
            <label>Over $100,000 specify:</label>
            <div class="form-item-input-money-wrap">
                <input type="text" class="form-item-input-money" />
            </div>
        </div>
    </div>
</div>

