
      <div class="form-item">
        <div class="form-item-label">
          <div class="pointer"></div>
          <div><strong>Date of Birth</strong></div>
        </div>
        <div class="form-item-content">
          <div class="form-item-input">
            <label>Month</label>
            <input type="text" class="form-item-input-00" />
          </div>
          <div class="form-item-input">
            <label>Day</label>
            <input type="text" class="form-item-input-00" />
          </div>
          <div class="form-item-input">
            <label>Year</label>
            <input type="text" class="form-item-input-0000" />
          </div>
        </div>
      </div>

