<div class="form-item">
    <div class="form-item-label">
        <div class="pointer"></div>
        <div><strong>Fed Tax Bracket</strong></div>
    </div>
    <div class="form-item-content">
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>10-15%</label>
        </div>
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>16-27%</label>
        </div>
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>28-33%</label>
        </div>
        <div class="form-item-input">
            <input type="checkbox" class="form-item-input-check" />
            <label>Over 33%</label>
        </div>
    </div>
</div>

