<div class="form-item form-last">
    <div class="form-item-label">
        <div class="pointer"></div>
        <div><strong>Investment Objectives*</strong></div>
        <div class="form-item-label-sub"><strong>Please rank in order of importance 1-4.</strong></div>
    </div>
    <div class="form-item-content">
        <div class="form-item-input">
            <label>Principal Protection</label>
            <input type="text" class="form-item-input-00" />
        </div>
        <div class="form-item-input">
            <label>Income</label>
            <input type="text" class="form-item-input-00" />
        </div>
        <div class="form-item-input">
            <label>Growth</label>
            <input type="text" class="form-item-input-00" />
        </div>
        <div class="form-item-input">
            <label>Speculation</label>
            <input type="text" class="form-item-input-00" />
        </div>
    </div>
</div>