<div class="form-item form-item-filled">
    <div class="form-item-label">
        <div class="pointer"></div>
        <div><strong>Date of Birth</strong></div>
        <div class="form-item-label-sub"><span class="form-item-label-sub-check"></span>ON FILE</div>
    </div>
    <div class="form-item-content">
        <div class="form-item-input">
            {0}
        </div>
    </div>
</div>
